html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
h1, p {
    margin: 0px;
    color: hsl(0, 0%, 65%);
}
.page {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 13%);
}