html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
h1, p {
    margin: 0px;
    color: hsl(0, 0%, 65%);
    text-align: center;
}
button {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
    color: hsl(0, 0%, 65%);
}
::-webkit-scrollbar {
    display: none;
}
.page {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 13%);
    overflow: hidden;
}
.header {
    height: 6.5%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-bottom: thin solid hsl(0, 0%, 65%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-box {
    height: 100%;
    width: 30%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
.body {
    height: 93.5%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.body-side {
    height: 100%;
    width: 30%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;   
}
.item-note {
    height: auto;
    width: 90%;
    margin: 6.5% 5% 0% 5%;
    padding: 6.5%;
    box-sizing: border-box;
    border: thin solid hsl(0, 0%, 65%);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.item-reminder {
    height: auto;
    width: 90%;
    margin: 6.5% 5% 0% 5%;
    padding: 6.5%;
    box-sizing: border-box;
    border: thin solid hsl(0, 0%, 65%);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.body-core {
    height: 100%;
    width: 40%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-right: thin solid hsl(0, 0%, 65%);
    border-left: thin solid hsl(0, 0%, 65%);
    display: flex;
    flex-direction: column;
}
.body-core-top {
    height: 50%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-bottom: thin solid hsl(0, 0%, 65%);
}
.body-core-bottom {
    height: 50%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.bottom-row {
    height: fit-content;
    width: 94%;
    margin: 5% 3% 0% 3%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}
.row-column {
    height: 100%;
    width: 30%;
    margin: 0% 1.65% 0% 1.65%;
    padding: 2%;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    box-sizing: border-box;
    border-radius: 15px;
    border: thin solid hsl(0, 0%, 65%);
}
.item-bookmark {
    height: 100%;
    width: 30%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: thin solid hsl(0, 0%, 65%);
    border-radius: 6.5px;
}
